plan_catalog.dtd

        <!ELEMENT CATALOG (PLANT*)>
        <!ELEMENT PLANT (COMMON, BOTANICAL, ZONE, LIGHT, PRICE, AVAILABILITY)>
        <!ELEMENT COMMON (#PCDATA)>
        <!ELEMENT BOTANICAL (#PCDATA)>
        <!ELEMENT ZONE (#PCDATA)>
        <!ELEMENT LIGHT (#PCDATA)>
        <!ELEMENT PRICE (#PCDATA)>
        <!ELEMENT AVAILABILITY (#PCDATA)>